@model  UserEntity

<div class="card login">
    <div class="card-header text-center">
        <h3>注册</h3>
    </div>
    <div class="card-body">
        @{Html.RenderPartial("_MessagePartial");}

        <form action="@Url.Action("Signup")" method="post">
            <div class="form-group row">
                <label for="login" class="col-2 col-form-label">用户名</label>
                <input class="form-control col-5" id="login" name="login" placeholder="用户名" data-required="用户名不能为空" value="@Model.LoginName" />
                <div class="w-100"></div>
                <div class=" col-2"></div>
                <div class="col-5 invalid-feedback"></div>
            </div>


            <div class="form-group row">
                <label for="email" class="col-2 col-form-label">昵称</label>
                <input class="form-control col-5" id="nickName" name="nickName" placeholder="昵称" data-required="昵称不能为空" value="@Model.NickName" />
                <div class="w-100"></div>
                <div class=" col-2"></div>
                <div class="col-5 invalid-feedback"></div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-2 col-form-label">密码</label>
                <input type="password" class="form-control  col-5" id="password" name="password" placeholder="密码" data-required="密码不能为空" />
                <div class="w-100"></div>
                <div class=" col-2"></div>
                <div class="col-5 invalid-feedback"></div>
            </div>

            <div class="form-group row">
                <label for="password2" class="col-2 col-form-label">确认密码</label>
                <input type="password" class="form-control  col-5" id="password2" name="password2" placeholder="确认密码" data-required="确认密码不能为空" data-equals-id="password" data-notequals="密码不一致" />
                <div class="w-100"></div>
                <div class=" col-2"></div>
                <div class="col-5 invalid-feedback">

                </div>
            </div>

            <div class="form-group row">
                <label for="imgCode" class="col-2 col-form-label">验证码</label>
                <input type="text" class="form-control  col-3" id="imgCode" name="imgCode" placeholder="验证码" data-required="验证码不能为空" />
                <a class="col-2"  href="javascript:void(0)"><img id="imageCode" src="@Url.Action("Index","ImageCode")" /></a>
                <div class="w-100"></div>
                <div class=" col-2"></div>
                <div class="col-5 invalid-feedback">

                </div>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary" id="btnSubmit">注册</button>
            </div>
        </form>
    </div>

</div>


@section scripts {
<script type="text/javascript">
        $(function () {
            $("#btnSubmit").on("click", function () {
                return $.validate();
            });

            $("#imageCode").on("click", function () {
                var url = "@Url.Action("Index","ImageCode")" + "?a=" + new Date();
                $(this).attr("src", url);
            });
        });
</script>
}