@model IEnumerable<CommentEntity>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



@{
    //var status = ViewContext.RouteData.Values["status"].ToString();
    //var status = Request.QueryString["status"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();

    string active1 = "", active2 = "", active3 = "", active4 = "";
    switch (action.ToLower())
    {
        case "list":
            active1 = "active";
            break;
        case "pending":
            active2 = "active";
            break;
        case "pass":
            active3 = "active";
            break;
        case "faild":
            active4 = "active";
            break;

    }
}

<h2>我的囧事</h2>


<div class="card articles">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link @active1" href="@Url.Action("List","Comment",new { page=1 })">我的评论</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @active2" href="@Url.Action("Answer","Comment",new { page=1 })">我的回复</a>
            </li>
        </ul>
    </div>

    @foreach (var item in Model)
    {
        <div class="card-body articleBody ">
            <div class="article-quote" data-id="@item.Article.Id">
                <a href="@Url.Action("Detail", "Home", new { id = item.Id})" class="normalA">
                    <p class="card-text">@item.Article.Content</p>

                    @if (item.Article.Attachments != null && item.Article.Attachments.Count() > 0)
                    {
                        <img class="img-fluid" src="@item.Article.Attachments.First().Url" alt="Card image cap">
                    }

                </a>
            </div>

            <p class="card-text">@item.Content</p>

            <p class="card-text text-right">发布时间：@item.CreatedTime</p>


        </div>

    }


</div>


@{Html.RenderPartial("_PageNavigationPartial");}


@*@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".article-quote").on("click", function () {

                var url = "@Url.Action("Detail", "Home")";

                window.location.href = url + "/" + $(this).attr("data-id") + "#content";
            });
        });
    </script>
}*@