@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model UserEntity


<div class="card login">
    <div class="card-body">
        @{Html.RenderPartial("_MessagePartial");}

        
        <form action="@Url.Action("Edit")" method="post">
            <div class="form-group row">
                <label for="loginaccount" class="col-2 col-form-label">帐号</label>
                <input type="text" readonly class="form-control-plaintext col-5" id="loginaccount" name="loginaccount" value="@Model.LoginName">
            </div>
            <div class="form-group row">
                <label for="email" class="col-2 col-form-label">昵称</label>
                <input class="form-control-plaintext col-5" readonly id="nickName" name="nickName" placeholder="昵称" value="@Model.NickName" data-required="昵称不能为空" />
                <div class="w-100"></div>
                <div class=" col-2"></div>
                <div class="col-5 invalid-feedback"></div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-2 control-label">我的头像</label>

                <div class="col-5">
                    <img src="@Url.Content("~/UserImage/" + Model .UserImage)" alt="..." class="img-circle rounded-circle" id="img">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-2 control-label">更换头像</label>

                <label class="custom-file col-5">
                    <input type="file" id="file2" class="custom-file-input">
                    <span class="custom-file-control"></span>
                </label>

            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">当前积分</label>

                <input type="text" readonly class="form-control-plaintext col-5" id="loginScore" name="loginScore" value="@Model.Score 分（发糗事审核通过，获得1个积分)">
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">当前等级</label>

                <input type="text" readonly class="form-control-plaintext col-5" id="loginScore" name="loginScore" value="@Model.UserRole.First().Role.Name">
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">上次登录时间</label>
                <input type="text" readonly class="form-control-plaintext col-5" id="loginScore" name="loginScore" value="@Model.LastLoginTime">

            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">加入糗大时间</label>
                <input type="text" readonly class="form-control-plaintext col-5" id="loginScore" name="loginScore" value="@Model.CreatedTime">

            </div>

            <div class="form-group row">

                <button type="submit" class="btn btn-primary" id="btnSubmit">修改</button>

            </div>
        </form>
    </div>

</div>



@section scripts {
    <script type="text/javascript">
        $(function () {


                $("#btnSubmit").on("click", function () {
                    return $.validate();
                });


                $("#file2").on("change", function (event) {
                    var files = event.target.files[0];

                    var formData = new FormData();
                    formData.append("file", files);

                    $.ajax({
                        url: '@Url.Action("UploadFile", "User")',
                        type: 'post',
                        data: formData,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            //$("#loading").show();
                           
                        }
                    })
                    .done(function (data) {
                        //$("#loading").hide();

                        //$("#fileUrl").val(data);
                        var url = "@Url.Content("~/UserImage/")" + data + "?id=" + Date();
                        $("#img").attr("src", url);
                      
                    });
            });
        });
    </script>
}

