@model ArticleEntity

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ Html.RenderPartial("_articlePartial", Model); } 
@*<div class="card " data-id="@Model.Id">
        <div class="card-body">
            <div class="card-title media">
                <img class="d-flex mr-2 img-circle rounded-circle" src="@Url.Content("~/UserImage/" + Model.UpdateUser.UserImage)" alt="囧人囧事">
                <div class="media-body align-self-center">
                    <a href="@Url.Action("GetUser","User", new { id = Model.UpdateBy, page = 1})">@Model.UpdateUser.NickName</a>
                </div>
            </div>

            <p class="card-text">@Html.Raw(Model.Content)</p>
            @if (Model.Attachments != null && Model.Attachments.Count() > 0)
        {
            <img class="img-fluid" src="@Model.Attachments.First().Url" alt="Card image cap">
    }


            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link articleGood" data-value="1" href="#"><span class="oi icon" data-glyph="thumb-up" title="thumb-up" aria-hidden="true"></span> <span>@Model.GoodNum</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link articleBad" data-value="-1" href="#"><span class="oi icon" data-glyph="thumb-down" title="thumb-down" aria-hidden="true"></span> <span>@Model.BadNum</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link articleComment" href="#content"><span class="oi icon" data-glyph="pencil" title="pencil" aria-hidden="true"></span> @Model.Comments.Count()</a>
                </li>

            </ul>

        </div>
    </div>*@

<div id="loading" class="loading">
    <img src="~/Content/img/loading.gif" alt="...">
</div>
<div id="comment"></div>


@*@{Html.RenderAction("GetComments", "Home", new { id = Model.Id });}*@

@section scripts {
<script type="text/javascript">
        $(function () {
            @*$(".articleComment").on("click", function () {
                var url = "@Url.Action("Detail", "Home")";

                window.location.href = url + "/" + $(this).parents(".card").attr("data-id");
            });*@



            $(".articleGood,.articleBad").on("click", function () {
                var data = "id=" + $(this).parents(".card").attr("data-id");
                data += "&value=" + $(this).attr("data-value");

                var article = this;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GoodBad", "Article")",
                    data: data
                })
                    .done(function (returnData) {
                        if (isNaN(returnData)) {
                            window.location.href = "@Url.Action("Login", "Account")";
                        }
                        else if (returnData == 1) {
                            var value = $(article).children().last().text();
                            $(article).children().last().text(parseInt(value) + 1);
                        }
                    });
            });

            $("#comment").load("@Url.Action("GetComments", "Comment", new { id = Model.Id })", function () {
                $("#loading").hide();

                if (location.href.endsWith("content")) {
                    $('html, body').animate({
                        scrollTop: $("#content").offset().top
                    }, 1000);
                }
            });


            $("#comment").on("click", ".articleComment", function (event) {
                @if(Session["User"] == null)
                {
                    @:window.location.href = "@Url.Action("Login", "Account")";
                    @:return;

                }

                $('#commentModal').modal('show');
                $("#commentIdModal").val($(event.currentTarget).attr("data-id"));
            });


            $("#comment").on("click", "#btnSave", function (event) {


                var data = $("#formModal").serialize()

                //var data = "commentId=" + commentId + "&articleId=" + articleId + "&content=" + content;
                $.ajax({
                    url: '@Url.Action("SaveComments", "Comment")',
                    type: 'post',
                    data: data,

                    beforeSend: function () {
                        $("#loading").show();
                    }
                 })
                 .done(function (data) {
                     //$("#loading").hide();
                     if (data == "Successfully") {
                         $('#commentModal').modal('hide');

                         setTimeout(function () {//延时加载页面
                              $("#comment").load("@Url.Action("GetComments", "Comment", new { id = Model.Id })", function () {
                                $("#loading").hide();
                              });
                         }, 500);


                     }
                     else {
                         window.location.href = "@Url.Action("Login", "Account")";
                     }
                 });
            });

            $("#comment").on("click", "#btnSubmit", function (event) {

                var data = $("#form").serialize()

                //var data = "commentId=" + commentId + "&articleId=" + articleId + "&content=" + content;
                $.ajax({
                    url: '@Url.Action("SaveComments", "Comment")',
                    type: 'post',
                    data: data,

                    beforeSend: function () {
                        $("#loading").show();
                    }
                 })
                 .done(function (data) {
                     //$("#loading").hide();
                     if (data == "Successfully") {
                         $("#comment").load("@Url.Action("GetComments", "Comment", new { id = Model.Id })", function () {
                             $("#loading").hide();
                         });
                     }
                     else {
                         window.location.href = "@Url.Action("Login", "Account")";
                     }
                 });
            });

        });

</script>
}